<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>美丽加 - SaaS云管理系统 |手机APP|美丽社区</title>
<meta name="renderer" content="webkit">
<meta name="description" content="美丽加 SaaS云管理系统">
<meta name="author" content="mljia">
<meta http-equiv="X-UA-Compatible" content="IE=11;IE=10;IE=EDGE" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{{staticImage_Url}}}/favicon.ico" type="image/x-icon" />
    <script>
        var GLOBAL={
            webRoot: "",
            confRoot:"{{{confRoot}}}",
            wxRoot:"{{{wxRoot}}}",
            myRoot:"{{{myRoot}}}",
            mainUrl: "{{{mainUrl}}}",
            cometRoot: "{{{cometRoot}}}",
            payRoot:"{{{payRoot}}}",
            smsRoot:"{{{smsRoot}}}",
            marketingPayRoot:"{{{marketingPayRoot}}}",
            staticUrl:"{{{staticUrl}}}",
            download_url: "{{{fileDownload_Url}}}",
            downloadFile_url:"{{{fileDownloadFile_Url}}}",
            upload_url: "{{{uploadImage_Url}}}",
            uploadFile_url:"{{{uploadFile_Url}}}",

            shopSid: "{{{shopId}}}",
            month: "{{{month}}}",
            today: '{{{today}}}',
            date:'{{{date}}}',
            homeNew:'{{{homeNew}}}',
            accessUserStr: '{{{accessObject}}}',
            setting:{
                shop_work_setting: 0,
                sys_consumesms: 0,
                sys_tishi: 0,
                sys_version_strengthen: 0,
                sys_work_password: 0,
                sysparamet_att: 0,
                massage_cost_flag: 0,
                order_serial_number_falg: 0,
                order_serial_number_repeat_falg: 0
            },

            defaultPic_url: "{{{defaultPic_Url}}}",
            staticImage_url: "{{{staticImage_Url}}}",
            staticCss_url: "{{{staticCss_Url}}}",
            resourcesUrl: "{{{resourcesUrl}}}",

            thildZhifubaoPay: "{{{thildZhifubaoPay}}}",
            thildWeixinPay: "{{{thildWeixinPay}}}",
            thildWeixinQuery: "{{{thildWeixinQuery}}}",
            fileVersion: "{{{fileVersion}}}",
            libVersion: "{{{libVersion}}}",

            www_url: "{{{www_url}}}",
            jcropImg_Url: "{{{uploadImageCrop_Url}}}",
            addrIp:"{{{addrIp}}}"
        };
        if(window.parent!=window) window.parent.location=GLOBAL.webRoot;
    </script>
